img {
  width: 30%;
  margin: 1%;
}
nav {
  text-transform: uppercase;
  border-bottom: 2px solid #f1f1f1;
  width: 30%;
  margin-left: 1%;
  padding: 1.2em 0;
  font-family: "KoHo", sans-serif;
  font-family: "Lato", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.5em;
}
